@charset "utf-8";

@font-face {
    font-family : "nuri"; src:local("HangeulNuriB"), url("./date/font/HangeulNuriB.ttf") format("truetype"), url("./date/font/HangeulNuriB.eot") format("embedded-opentype"), url("./date/font/HangeulNuriB.woff") format("woff")
}

@font-face {
    font-family: "netma";
    src: local("netmarbleM"), url("./date/font/netmarbleM.ttf") format("truetype"), url("./date/font/netmarbleM.eot") format("embedded-opentype"), url("./date/font/netmarbleM.woff") format("woff");
}